<a href="https://colab.research.google.com/github/cmunozcortes/home-credit-default-project/blob/main/Project_AllDataSources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Data Cleaning
Here we will include data from all the sources available.
Let's start with `bureau.csv` and `bureau_balance.csv`. 
*  `bureau.csv`: information about client's previous loans with other financial institutions reported to Home Credit. Each previous loan has its own row.
*  `bureau_balance.csv`: monthly information about the previous loans. Each month has its own row.

In [1]:
import pandas as pd
import os
import gc
import numpy as np
from google.colab import drive

drive.mount('/content/drive')

# List files in the data dir
os.listdir('drive/MyDrive/CS 249 Project/Data/')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['HomeCredit_columns_description.csv',
 'POS_CASH_balance.csv',
 'application_test.csv',
 'application_train.csv',
 'bureau.csv',
 'bureau_balance.csv',
 'credit_card_balance.csv',
 'installments_payments.csv',
 'previous_application.csv',
 'sample_submission.csv',
 'HomeCredit_columns_description.gsheet']

Some helper functions to optimize memory usage

In [2]:
def convert_types(df, print_info=False):
    original_memory = df.memory_usage().sum()
    
    # Iterate through each column
    for c in df:
        # Convert ids and booleans to integers
        if ('SK_ID' in c):
            df[c] = df[c].fillna(0).astype(np.int32)
            
        # Convert objects to category
        elif (df[c].dtype == 'object') and (df[c].nunique() < df.shape[0]):
            df[c] = df[c].astype('category')
        
        # Booleans mapped to integers
        elif list(df[c].unique()) == [1, 0]:
            df[c] = df[c].astype(bool)
        
        # Float64 to float32
        elif df[c].dtype == float:
            df[c] = df[c].astype(np.float32)
            
        # Int64 to int32
        elif df[c].dtype == int:
            df[c] = df[c].astype(np.int32)
        
    new_memory = df.memory_usage().sum()
    if print_info:
        print(f'Original Memory Usage: {round(original_memory / 1e9, 2)} gb.')
        print(f'New Memory Usage: {round(new_memory / 1e9, 2)} gb.')
        
    return df

In [3]:
def del_feat_miss_val(df, threshold=0.5):
  df_miss = pd.DataFrame(df.isnull().sum())
  df_miss['percent'] = df_miss[0] / len(df)
  feat_miss_vals = list(df_miss.index[df_miss['percent'] > threshold])
  df = df.drop(columns=feat_miss_vals)
  return df

In [4]:
bureau = pd.read_csv('drive/MyDrive/CS 249 Project/Data/bureau.csv')
bureau = convert_types(bureau, print_info=True)
bureau_bal = pd.read_csv('drive/MyDrive/CS 249 Project/Data/bureau_balance.csv')
bureau_bal = convert_types(bureau_bal, print_info=True)

train = pd.read_csv('drive/MyDrive/CS 249 Project/Data/application_train.csv')
train = convert_types(train, print_info=True)

Original Memory Usage: 0.23 gb.
New Memory Usage: 0.1 gb.
Original Memory Usage: 0.66 gb.
New Memory Usage: 0.25 gb.
Original Memory Usage: 0.3 gb.
New Memory Usage: 0.13 gb.

## Functions to aggregate the data

### Numerical features

In [5]:
def agg_numeric(df, groupby_var, df_name):
  # Remove ID columns other than the grouping feature
  for col in df:
    if col != groupby_var and 'SK_ID' in col:
      df = df.drop(columns=col)
  
  # Get numeric features only
  numeric_df = df.select_dtypes('number').copy()

  # Add ID column to the numeric feature df
  numeric_df[groupby_var] = df[groupby_var]

  # Group by the specified variable and aggregate the statistical data
  agg = numeric_df.groupby(groupby_var)\
                  .agg(['count', 'mean', 'max', 'min', 'sum'])
  
  # Flatten multi-level columns
  agg.columns = agg.columns.to_flat_index()\
                   .map(lambda x: df_name+'_'+'_'.join(x).rstrip('_')\
                        if x[0] != groupby_var else x[0])
  
  # Remove columns with redundant values
  _, idx = np.unique(agg, axis=1, return_index=True)
  agg = agg.iloc[:, idx]

  gc.enable()
  del df, numeric_df
  gc.collect()

  return agg

### Categorical features
Aggregate categorical features
1. One-hot encode categorical features
2. Aggregate using mean and sum
3. Flatten multi-level column names

In [6]:
def agg_categorical(df, groupby_var, df_name):
  categorical = pd.get_dummies(df.select_dtypes('category')).copy()
  categorical[groupby_var] = df[groupby_var]
  categorical = categorical.groupby(groupby_var).agg(['sum', 'mean'])
  col_names = []
  for feature in categorical.columns.levels[0]:
    for stat in ['count', 'count_norm']:
      col_names.append(f'{df_name}_{feature}_{stat}')
  categorical.columns = col_names

  # Remove duplicate columns by values
  _, idx = np.unique(categorical, axis = 1, return_index = True)
  categorical = categorical.iloc[:, idx]

  gc.enable()
  del df
  gc.collect()

  return categorical

## Aggregate the data

### `bureau.csv`

In [7]:
# Aggregate the `bureau.csv` data
bureau_agg_cat = agg_categorical(bureau, 'SK_ID_CURR', 'bureau')
bureau_agg_num = agg_numeric(bureau.drop(columns='SK_ID_BUREAU'), 'SK_ID_CURR',
                             'bureau')

### `bureau_balance.csv`

In [8]:

# Aggregate the `bureau_balance.csv` data
bureau_bal_agg_cat = agg_categorical(bureau_bal, 'SK_ID_BUREAU', 'bureau_balance')
bureau_bal_agg_num = agg_numeric(bureau_bal, 'SK_ID_BUREAU', 'bureau_balance')

In [9]:
bureau_bal_agg_num.head()

              bureau_balance_MONTHS_BALANCE_sum  ...  bureau_balance_MONTHS_BALANCE_count
SK_ID_BUREAU                                     ...
5001709                                   -4656  ...                                   97
5001710                                   -3403  ...                                   83
5001711                                      -6  ...                                    4
5001712                                    -171  ...                                   19
5001713                                    -231  ...                                   22

[5 rows x 5 columns]

In [10]:
# Merge bureau_balance.csv data (numerical + categorical data)
bureau_by_loan = bureau_bal_agg_num.merge(bureau_bal_agg_cat, right_index=True, 
                                          left_on='SK_ID_BUREAU', how='outer')
bureau_by_loan.head()

              bureau_balance_MONTHS_BALANCE_sum  ...  bureau_balance_STATUS_C_count
SK_ID_BUREAU                                     ...
5001709                                   -4656  ...                             86
5001710                                   -3403  ...                             48
5001711                                      -6  ...                              0
5001712                                    -171  ...                              9
5001713                                    -231  ...                              0

[5 rows x 21 columns]

In [11]:
# Merge to include the SK_ID_CURR
client_loan_info = bureau[['SK_ID_BUREAU', 'SK_ID_CURR']]
bureau_by_loan = bureau_by_loan.merge(client_loan_info, on='SK_ID_BUREAU', 
                                        how='left')
bureau_by_loan.head()

   SK_ID_BUREAU  ...  SK_ID_CURR
0       5001709  ...         NaN
1       5001710  ...    162368.0
2       5001711  ...    162368.0
3       5001712  ...    162368.0
4       5001713  ...    150635.0

[5 rows x 23 columns]

In [12]:
# Aggregate the stats for each client
bureau_balance_by_client = agg_numeric(
    bureau_by_loan.drop(columns=['SK_ID_BUREAU']), 
    groupby_var='SK_ID_CURR', 
    df_name='client')

bureau_balance_by_client.head()

            client_bureau_balance_MONTHS_BALANCE_sum_sum  ...  client_bureau_balance_MONTHS_BALANCE_count_sum
SK_ID_CURR                                                ...
100001.0                                           -2800  ...                                             172
100002.0                                           -2701  ...                                             110
100005.0                                             -91  ...                                              21
100010.0                                           -3312  ...                                              72
100013.0                                           -6756  ...                                             230

[5 rows x 85 columns]

### `previous application.csv`

In [13]:
prev = pd.read_csv('drive/MyDrive/CS 249 Project/Data/previous_application.csv')
prev = convert_types(prev, print_info=True)
prev.head()

Original Memory Usage: 0.49 gb.
New Memory Usage: 0.16 gb.

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [14]:
# Aggregate categorical and numerical data
prev_agg_num = agg_numeric(prev, 'SK_ID_CURR', 'prev')
prev_agg_cat = agg_categorical(prev, 'SK_ID_CURR', 'prev')
print(prev_agg_num.shape)
print(prev_agg_cat.shape)

(338857, 80)
(338857, 284)

## Merge computed features with training data

Note: so far only `bureau` and `bureau_balance` are being merged with the train
set. Still need to aggregate and merge the rest of the csv files.

In [15]:
print(f'Original num of features: {train.shape[1]}')
train = train.merge(bureau_agg_cat, on='SK_ID_CURR', how='left')
train = train.merge(bureau_agg_num, on='SK_ID_CURR', how='left')
train = train.merge(bureau_balance_by_client, on='SK_ID_CURR', how='left')
train = train.merge(prev_agg_num, on='SK_ID_CURR', how='left')
train = train.merge(prev_agg_cat, on='SK_ID_CURR', how='left')
print(f'Final num of features: {train.shape[1]}')

gc.enable()
del bureau_agg_cat, bureau_agg_num, bureau_bal_agg_cat, bureau_bal_agg_num
bureau_by_loan, bureau_balance_by_client, prev_agg_cat,
prev_agg_num, bureau, bureau_bal, prev
gc.collect()

Original num of features: 122
Final num of features: 673

0

In [16]:
# Remove features with too many missing values
train = del_feat_miss_val(train)

## Aggregate MORRRRREEEEE data

### `POS_CASH_balance.csv`
This file contains data for the monthly balance of a client's (identified by `SK_ID_CURR`) previous loans in Home Credit, as well as behavioral data (whatever that means).

In [17]:
pos_cash_bal = pd.read_csv('drive/MyDrive/CS 249 Project/Data/POS_CASH_balance.csv')
pos_cash_bal = convert_types(pos_cash_bal, print_info=True)
pos_cash_bal.head()

Original Memory Usage: 0.64 gb.
New Memory Usage: 0.29 gb.

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [18]:
def agg_prev_data(df, groupby_vars, df_names):
  
  # Aggregate numerical data
  df_agg = agg_numeric(df, groupby_vars[0], df_names[0])
  
  if any(df.dtypes == 'category'):
    # Aggregate categorical data
    df_agg_cat = agg_categorical(df, groupby_vars[0], df_names[0])

    # Merge numerical and categorical
    df_prev_loan = df_agg_cat.merge(df_agg, on=groupby_vars[0], how='outer')

    gc.enable()
    del df_agg, df_agg_cat
    gc.collect()

    # Merge with current loan ID
    df_prev_loan = df_prev_loan.merge(df[[groupby_vars[0], groupby_vars[1]]],
                                         on=groupby_vars[0], how='left')
  else:
    df_prev_loan = df_agg.merge(df[[groupby_vars[0], groupby_vars[1]]],
                                on=groupby_vars[0], how='left')
    gc.enable()
    del df_agg
    gc.collect()

  # Remove the prev loan ID and aggregate at the curr loan level
  df_prev_loan = df_prev_loan.drop(columns=groupby_vars[0])
  df_curr_loan = agg_numeric(df_prev_loan, groupby_vars[1], groupby_vars[1])

  gc.enable()
  del df, df_prev_loan
  gc.collect()

  return df_curr_loan

Use the function above to aggregate previous loan data for each current loan application based on `SK_ID_CURR`.

In [19]:
cash_curr_loan = agg_prev_data(
    pos_cash_bal,
    groupby_vars=['SK_ID_PREV', 'SK_ID_CURR'],
    df_names=['cash', 'client']
)
cash_curr_loan.head()

            SK_ID_CURR_cash_MONTHS_BALANCE_sum_sum  ...  SK_ID_CURR_cash_CNT_INSTALMENT_sum_sum
SK_ID_CURR                                          ...
100001                                       -2887  ...                                   164.0
100002                                       -3610  ...                                  8664.0
100003                                      -13240  ...                                  2840.0
100004                                        -408  ...                                    60.0
100005                                       -2420  ...                                  1287.0

[5 rows x 165 columns]

In [20]:
# Merge with train set
train = train.merge(cash_curr_loan, on='SK_ID_CURR', how='left')
train = del_feat_miss_val(train)
train

gc.enable()
del cash_curr_loan, pos_cash_bal
gc.collect()

0

### `credit_card_balance.csv`
Aggregate monthly credit card data and merge to train set

In [21]:
cc_bal = pd.read_csv('drive/MyDrive/CS 249 Project/Data/credit_card_balance.csv')
cc_bal = convert_types(cc_bal, print_info=True)
cc_bal.head()

Original Memory Usage: 0.71 gb.
New Memory Usage: 0.34 gb.

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [22]:
cc_bal_curr_loan = agg_prev_data(
    cc_bal,
    groupby_vars=['SK_ID_PREV', 'SK_ID_CURR'],
    df_names=['credit', 'client']
)
cc_bal_curr_loan.head()

            SK_ID_CURR_credit_MONTHS_BALANCE_sum_sum  ...  SK_ID_CURR_credit_AMT_DRAWINGS_ATM_CURRENT_max_max
SK_ID_CURR                                            ...
100006                                          -126  ...                                                NaN
100011                                       -210826  ...                                           180000.0
100013                                       -446976  ...                                           157500.0
100021                                         -2890  ...                                                NaN
100023                                          -480  ...                                                NaN

[5 rows x 381 columns]

In [23]:
# Merge with train set
train = train.merge(cc_bal_curr_loan, on='SK_ID_CURR', how='left')

gc.enable()
del cc_bal, cc_bal_curr_loan
gc.collect()

0

Remove features with more than 70% of missing data to optimize memory usage.

In [24]:
train = del_feat_miss_val(train)
train

        SK_ID_CURR  ...  SK_ID_CURR_cash_CNT_INSTALMENT_sum_sum
0           100002  ...                                  8664.0
1           100003  ...                                  2840.0
2           100004  ...                                    60.0
3           100006  ...                                  1910.0
4           100007  ...                                 14128.0
...            ...  ...                                     ...
307506      456251  ...                                   567.0
307507      456252  ...                                   294.0
307508      456253  ...                                   630.0
307509      456254  ...                                  2990.0
307510      456255  ...                                 31828.0

[307511 rows x 703 columns]

### `installments_payments.csv`

In [25]:
installments = pd.read_csv('drive/MyDrive/CS 249 Project/Data/installments_payments.csv')
installments = convert_types(installments, print_info=True)
installments.head()

Original Memory Usage: 0.87 gb.
New Memory Usage: 0.44 gb.

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT   AMT_PAYMENT
0     1054186      161674  ...     6948.359863   6948.359863
1     1330831      151639  ...     1716.525024   1716.525024
2     2085231      193053  ...    25425.000000  25425.000000
3     2452527      199697  ...    24350.130859  24350.130859
4     2714724      167756  ...     2165.040039   2160.584961

[5 rows x 8 columns]

In [27]:
installments_curr_loan = agg_prev_data(
    installments,
    groupby_vars=['SK_ID_PREV', 'SK_ID_CURR'],
    df_names=['installments', 'client']
)
installments_curr_loan.head()

            SK_ID_CURR_installments_DAYS_ENTRY_PAYMENT_sum_sum  ...  SK_ID_CURR_installments_AMT_INSTALMENT_sum_sum
SK_ID_CURR                                                      ...
100001                                               -52813.0   ...                                    1.528387e+05
100002                                              -113867.0   ...                                    4.172888e+06
100003                                              -367137.0   ...                                    1.134881e+07
100004                                                -6855.0   ...                                    6.386539e+04
100005                                               -49374.0   ...                                    5.054566e+05

[5 rows x 106 columns]

In [28]:
train = train.merge(installments_curr_loan, on='SK_ID_CURR', how='left')
gc.enable
del installments_curr_loan, installments
gc.collect()

0

In [29]:
train.shape

(307511, 809)